/* || RESET */

img {
  display: block;
}

/* || VARIABLES */

:root {
  /*  FONTS */
  --FF: Arial, Helvetica, sans-serif;
  --FS: 1rem;
  --FS-XL: 2rem;

  /* COLORS */
  --MAINSCHEME: #b1ddab;
  --BGCOLOR: #fff;
  --BGFOOTER: #f2f5f3;
  --FOOTER-COLOR: #8b9790;
  --LIGHT-COLOR: #fff;
  --GRAY-COLOR: #6b7770;
  --DARK-COLOR: rgb(0, 0, 0);
  --BGTRANSPARENT: rgba(0, 0, 0, 0.4);

  /* BORDERS */
  --SCHEME-BORDER-SIZE: 30px;
  --SCHEME-BORDER: var(--SCHEME-BORDER-SIZE) solid var(--MAINSCHEME);
  --BORDER-RADIUS: 15px;

  /* PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;
}

@media screen and (min-width: 768px) {
  :root {
    --FS: 1.5rem;
  }
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.pad {
  padding: 1rem;
}

html {
  font-family: var(--FF);
  font-size: var(--FS);

  scroll-behavior: smooth;
}

body {
  background: var(--BGCOLOR);
}

main div:first-child {
  margin-top: 2rem;
}

main > :last-child {
  margin-bottom: 2rem;
}

Figure {
  width: 100%;
}
Figure img {
  width: 100%;
  height: auto;
}

/* || Navbar */

.navbar {
  opacity: 0.9;
}

/* || Footer */

.footer {
  background-color: var(--BGFOOTER);
  border-top: 10px solid #c1cac5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--FOOTER-COLOR);
}

/* Copyright */

.copyright {
  background-color: #e7eae8;
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
