/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900display=swap");
/* || RESET */

img {
  display: block;
}

/* || VARIABLES */

:root {
  /*  FONTS */
  --FF: "Noto Sans JP", Arial, Helvetica, sans-serif;
  --FS: 1rem;
  --FS-XL: 2rem;

  /* COLORS */
  --BGCOLOR: #fff;
  --BGFOOTER: #f2f5f3;
  --FOOTER-COLOR: #8b9790;
  --LIGHT-COLOR: #fff;
  --GRAY-COLOR: #6b7770;
  --DARK-COLOR: #000000;
  --BGTRANSPARENT: #00000066;

  --FIRST-COLOR: #d9ed92;
  --SECOND-COLOR: #b5e48c;
  --THIRD-COLOR: #99d98c;
  --FOURTH-COLOR: #76c893;
  --FIFTH-COLOR: #52b69a;
  --SIXTH-COLOR: #34a0a4;
  --SEVENTH-COLOR: #168aad;
  --EIGHTH-COLOR: #1a759f;
  --NINTH-COLOR: #1e6091;
  --TENTH-COLOR: #184e77;

  /* BORDERS */
  --SCHEME-BORDER-SIZE: 30px;
  --SCHEME-BORDER: var(--SCHEME-BORDER-SIZE) solid var(--MAINSCHEME);
  --BORDER-RADIUS: 15px;

  /* PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;
}

@media screen and (min-width: 768px) {
  :root {
    --FS: 1.5rem;
  }
}

/* || UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.pad {
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
}

body {
  background: var(--BGCOLOR);

  font-family: var(--FF);
}

main > :last-child {
  margin-bottom: 2rem;
}

Figure {
  width: 100%;
}
Figure img {
  width: 100%;
  height: auto;
}

.suppress-link,
.suppress-link:visited,
.suppress-link:hover {
  text-decoration: none;
  color: inherit;
}

.section-anchor {
  position: relative;
  top: -3.5rem;
}

.m-nav {
  margin-top: 3.5rem;
}

/* || Navbar */

.navbar {
  opacity: 0.9;
}

/* || Footer */

.footer {
  background-color: var(--BGFOOTER);
  border-top: 10px solid #c1cac5;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--FOOTER-COLOR);
}

/* Copyright */

.copyright {
  background-color: #e7eae8;
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* || Home */
.hero {
  background-image: radial-gradient(
    circle at 80% 40%,
    var(--FIFTH-COLOR) 0%,
    var(--SIXTH-COLOR) 20%,
    var(--SEVENTH-COLOR) 40%,
    var(--EIGHTH-COLOR) 60%,
    var(--NINTH-COLOR) 80%,
    var(--TENTH-COLOR) 100%
  );
  height: 100vh;

  text-shadow: 0 0 10px var(--BGTRANSPARENT);
}

.title {
  font-size: 5rem;
}

.headline {
  font-size: 1.5rem;
}

/*  || Profile */
.profile {
  background-color: var(--EIGHTH-COLOR);
}

.profile-pic {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.profile-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* || Projects */
.projects {
  background-color: var(--SEVENTH-COLOR);
}

.project-card {
  box-shadow: 0 0 10px var(--BGTRANSPARENT);
  overflow: hidden;
}

.project-img {
  overflow: hidden;
}

.project-card img {
  transition: transform 0.2s ease-out;
}

.project-card:hover img {
  transform: scale(1.1);
}

.project-card-text,
.show-project {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.project-card:hover .show-project {
  transform: translateY(0);
  opacity: 1;
}

.show-project {
  transform: translateY(1rem);
  opacity: 0;
}

.project-card:hover .project-card-text {
  transform: translateY(-1rem);
  opacity: 0;
}

.arrow-motion {
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  margin-left: 0.5em;
  animation: 0.5s ease-out 0s infinite alternate both running forwards;
}

@keyframes forwards {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1em);
  }
}

/* || Skills */
.skills {
  background-color: var(--SIXTH-COLOR);
}

.skill-items {
  font-size: 1.5em;
}

.skill-row {
  --bs-gutter-x: 2%;
}

.skill-icon {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.5em;
  padding-top: 10%;
  overflow: hidden;
  height: 100%;
}

.skill-icon h6 {
  font-size: 0.75em;
  margin-bottom: 0;
}

.skill-icon img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

/* || Experience */
.experience {
  background-color: var(--TENTH-COLOR);
  --EXPERIENCE-CARD-HEIGHT: 30vh;
}

.experience-card {
  position: relative;
  color: var(--LIGHT-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  width: 100%;
  height: var(--EXPERIENCE-CARD-HEIGHT);
  z-index: 2;
  margin-top: 1.5rem;
  transition: transform 0.3s ease-out;
}

.experience-card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px var(--BGTRANSPARENT);
  background: #153f5b;
  border-radius: var(--BORDER-RADIUS);
  border: rgba(255, 255, 255, 0.2) 5px solid;
  z-index: -1;
  transition: transform 0.3s ease-out, border 0.3s ease-out;
}

.experience-card-background img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-30%, -5%);
  opacity: 0.1;
  transition: transform 0.3s ease-out;
}

.experience-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  transition: transform 0.3s ease-out;
}

.experience-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  border-radius: var(--BORDER-RADIUS);
  padding: var(--PADDING-TB) calc(var(--PADDING-SIDE) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(calc(-15vh + 5%));
  display: none;
}

.experience-card:hover {
  z-index: 3;
}

.experience-card:hover .experience-card-background {
  transform: scaleY(2);
  border-top: rgba(255, 255, 255, 0.8) 2.5px solid;
  border-bottom: rgba(255, 255, 255, 0.8) 2.5px solid;
  border-left: rgba(255, 255, 255, 0.8) 5px solid;
  border-right: rgba(255, 255, 255, 0.8) 5px solid;
}

.experience-card:hover .experience-card-background img {
  transform: translate(-30%, -5%) scaleX(1.5) scaleY(0.75);
}

.experience-card:hover .experience-title {
  transform: translateY(15vh);
}
.experience-card:hover .experience-card-content {
  display: inherit;
  animation: 0.3s ease-out 0.3s forwards fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Education */
.education {
  background-color: var(--EIGHTH-COLOR);
}

/* Courses */
.courses {
  background-color: var(--NINTH-COLOR);
}
